
body {
    background-image: url(https://images.wallpaperscraft.com/image/metal_line_stripes_light_shiny_silver_18401_1920x1080.jpg);
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    color:#777777;
    border-color: #dddddd;
    padding-right:200px; 
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    
}
#name {
    background-color: teal;
    border-style: solid;
    color:#ffffff;
    float: left;
    font-size: 20px;
    border-width: 2px;
    margin-left: 20%;
    padding-bottom: 8px;
    padding-top: 24px;
    box-sizing: content-box;
    width: 120px;
    border-color: teal;
    
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: "Georgia", Times, 'Times New Roman', serif;
    height: 40px;
    padding-bottom: 2%;
    box-sizing: content-box;
    width: 1024px;
   
}

#about, #portfolio, #contact {
    float: right;
    font-size: 12px;
    border-left: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 20px;
    padding-left: 10px;
    margin-right: 8px;
    margin-top: 20px;
}

h1 {
    color:#4aaaa5;
    padding-top: 4%;
    padding-bottom: 0%;
    font-weight: bold;
    margin: 0px;
    padding-left: 20px;

}

.container {
    margin-top: 20px;
    border-style: solid; 
    margin-left: 25%;
    height: 300px;
    border-width: 1px;
    float: left;
    background-color: #ffffff;
    
}
img {
    float: left;
    margin: 3px;
    padding-left: 14px;
    padding-top: 30px;
}


#copyright {
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
    position: fixed;
    border-top-style: solid;
    border-width: 8px;
    border-color: teal;
    padding-top: 10px;
    box-sizing: content-box;
    width: 1024px;
}

p {
   word-spacing: 2px;
   margin: 14px;
}
 .first {
    border-top-style: solid;
    border-width: 2px;
    border-color: grey;
    padding-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
    
}
section {
    flood-color: teal; 
}

